.wrapper{
    &__block{
        display: flex;
        flex-wrap: wrap;
        gap: 83px;
        margin: 0 auto;
    }

    &__icons{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
    }

    &__icon{
        width: 25px;
        height: 25px;
    }
}